<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<super-navbar>
    <super-navbar-title>
      Login
    </super-navbar-title>
</super-navbar>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/main.js"></script>
    
</head>

<body>
    <!--Login-->
    <div id = "divLogin" class="list list-inset">
        
    <form id ="loginForm">
            <label class="item item-input">
                <input type="text" name = "usuario" placeholder="your Username" data-role="none" />
            </label>
            <label class="item item-input">
                <input type="password" name = "password" placeholder="your Password" data-role="none"/>                
            </label>
            <super-navigate onclick="login()">
            <button class="button button-block button-positive"> LOGIN</button>
            </super-navigate>
            
    </form>
    </div>
    
    
</body>
</html>
